body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background: white;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

h2 {
    color: #333;
}
header img {
    border-radius: 50%;
    margin-top: 10px;
}

button {
    background: #3b82f6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}

section {
    max-width: 800px;
    margin: 20px auto;
}
